*{margin: 0;}

body{
    background-color: yellow;
}

h1{
    margin-left: 500px;
}
ol{
    margin-left: 500px;margin-top: 80px;
}
.container{
    display:flex;
    flex-direction: column;
    }

.box1{
    width: 80px;
    height: 80px;
    background-color: cadetblue;
    margin-top: 0px;margin-left: 30px;margin-bottom: 10px;
    transition: width 2s ease-in-out, 3s;
}

.box1:hover{width: 350px;}

.q:hover{
    width: 300px;
    height: 300px;
}

span{
    font-size: 30px;
    text-decoration: underline;
    margin-left: 30px;
}
.N{
    font-size: 30px;
    text-decoration: underline;
    margin-left: 30px;
}