
        .flex-container{display: flex;}

        body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        
        #para{
              font-weight: bolder;
              text-align: center;
              font-size: 50px;
              margin-left: 300px;
              margin-top: 100px;
              }

        #para-1{
              font-size: 50px;
              font-weight: lighter;
              margin-top: 100px;
              margin-left: 9px;
              letter-spacing: 2px;
              filter: opacity(35%);
              
        }

        #para-2{
                font-size: 28px;
                text-align: center;
                margin-left: 290px;
                margin-top: 115px;
                filter: opacity(80%);
                font-weight: lighter;
                }
 
        .box{
            width:200px;
            height: 330px;
            border-radius: 10px;
            margin-left: 150px;
            position: absolute;
            margin-top: 20px;
            }

        h4{font-weight: lighter;}

        .item-1{
            border: 1px solid #f52e27;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 25px;
            background-color: white;
            color: #f52e27;
            box-shadow: 7px 7px 7px gray;}

        hr{
            margin-left: 40px;
            color: gainsboro;}

        #paris1{text-decoration:line-through;
                color:red;
                margin-left: 15px;
                font-weight: lighter;
                font-family: sans-serif;}


        #paris2{
                display:inline-flex;
            }

        .item-2{
            border: 1px solid #f52e27;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 25px;
            background-color: white;
            color: #f52e27;
            margin-left: 400px;
            box-shadow: 7px 7px 7px gray;}

        #paris3{ text-decoration: line-through;
                 color: red;
                 font-family: sans-serif;
                 font-weight: lighter;
                 margin-left: 15px;}

        
        .item-3{
            border: 1px solid #f52e27;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 25px;
            background-color:white;
            color: #f52e27;
            margin-left: 650px;
            box-shadow: 7px 7px 7px gray;}