
        .flex-container{display: flex;}
        
        #para{
              font-weight: bolder;
              text-align: center;
              font-size: 50px;
              font-family:sans-serif;
              margin-left: 300px;
              margin-top: 100px;
              }

        #para-1{
              font-size: 50px;
              font-family:'Arial Narrow';
              margin-top: 100px;
              margin-left: 9px;
              letter-spacing: 2px;
              filter: opacity(35%);
              
        }

        #para-2{
                font-size: 26px;
                text-align: center;
                margin-left: 290px;
                margin-top: 115px;
                filter: opacity(80%);}
 
        .box{
            width:180px;
            height: 280px;
            border-radius: 30px;
            margin-left: 150px;
            position: absolute;
            margin-top: 20px;}

        .item-1{
            border: 3px solid khaki;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 23px;
            background-color: teal;
            color: lightcyan;
            box-shadow: 7px 7px 7px gray;}

        hr{
            margin-left: 25px;
            color: khaki;}

        #paris1{text-decoration:line-through;
                color: lightsalmon;
                margin-left: 10px;}


        #paris2{
                display:inline-flex;
            }

        .item-2{
            border: 3px solid khaki;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 23px;
            background-color: teal;
            color: lightcyan;
            margin-left: 400px;
            box-shadow: 7px 7px 7px gray;}

        #paris3{ text-decoration: line-through;
                 color: lightsalmon;}

        
        .item-3{
            border: 3px solid khaki;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 23px;
            background-color: teal;
            color: lightcyan;
            margin-left: 650px;
            box-shadow: 7px 7px 7px gray;}