        
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.flex-container{display: flex;}

.box{
    width: 420px;
    height: 220px; 
    border: 1px solid #f52e27;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    margin-left: 450px;
    margin-top: 200px;z-index: 2;
    }

h4{
    color: #f52e27;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;}

#text{width: 240px;height: 28px;border-radius: 5px;border: 1px solid #f52e27;}

.background-image{
    background-image: url("./image/1.png");
    width: 100%;height: 100%;position: absolute;filter: blur(5px);
        
    background-repeat: no-repeat;}

@media screen and (min-width:200px) and (max-width:400px){

body{overflow: hidden;}
.flex-container{display: flex;}

.box{
    width: 80%;
    height: 180px; 
    border: 1px solid #f52e27;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 200px;z-index: 2;
    }

h4{
    color: #f52e27;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;}

#text{width: 150px;height: 28px;border-radius: 5px;border: 1px solid #f52e27;}

.background-image{
    background-image: url("./image/2.png");
    width: 100%;height: 100%;position: absolute;filter: blur(5px);
        
    background-repeat: no-repeat;}
    
}

@media screen and (min-width:401px) and (max-width:700px){

body{overflow: hidden;}
.flex-container{display: flex;}

.box{
    width: 70%;
    height: 190px; 
    border: 1px solid #f52e27;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 200px;z-index: 2;
    }

h4{
    color: #f52e27;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;}

#text{width: 200px;height: 28px;border-radius: 5px;border: 1px solid #f52e27;}

.background-image{
    background-image: url("./image/3.png");
    width: 100%;height: 100%;position: absolute;filter: blur(5px);
        
    background-repeat: no-repeat;}
    
}

@media screen and (min-width:701px) and (max-width:1300px){

body{overflow: hidden;}
.flex-container{display: flex;}

.box{
    width: 55%;
    height: 190px; 
    border: 1px solid #f52e27;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    margin-left: 170px;
    margin-top: 200px;z-index: 2;
    }

h4{
    color: #f52e27;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;}

#text{width: 240px;height: 28px;border-radius: 5px;border: 1px solid #f52e27;}

.background-image{
    background-image: url("./image/4.png");
    width: 100%;height: 100%;position: absolute;filter: blur(5px);
        
    background-repeat: no-repeat;}
}

    