        body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        h1{
            margin: 40px auto;
            font-family: sans-serif;
            font-size: 40px;
            position: relative;
            width: 500px;
            text-align: center;}

        h1:before {
                   content: "";
                   display: block;
                   width: 130px;
                   height: 1px;
                   background:gray;
                   left: 0;
                   top: 50%;
                   position: absolute;
                  }
      
        h1:after {
                  content: "";
                  display: block;
                  width: 130px;
                  height: 1px;
                  background:gray;
                  right: 0;
                  top: 50%;
                  position: absolute;
                 }

        #arrow{
               font-size: 25px;
               margin-left: 630px;
               color: grey;
              }

        .flex-container{display: flex;}
        
        .box{
            width:300px;
            height: 300px;
            border-radius: 10px;
            margin-left: 260px;
            position: absolute;
            margin-top: 20px;}

        .item-1{
            border: 1px solid #f52e27;
            text-align: center; 
            flex-direction: column;
            display: inline-block;
            font-size: 25px;
            background-color: white;
            color: #f52e27;
            box-shadow: 7px 7px 7px gray;
            }

        h4{font-weight: lighter;}

            
        #paris1{text-decoration:line-through;
                color: red;
                margin-left: 15px;
                font-family: sans-serif;
                font-weight: lighter;}

                
        hr{
            margin-left: 85px;
            color: gainsboro;}