
        .flex-container{display: flex;}

        .box{
            width: 350px;
            height: 200px; 
            border: 3px solid khaki;
            text-align: center;
            background-color: teal;
            border-radius: 20px;
            margin-left: 500px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: lightcyan;
           font-size: 20px;}

        #text{width: 240px;height: 23px;border-radius: 5px;border: 2px solid khaki;}

        #text1{
            width: 75px;
            height: 30px;
            text-align: center;
            font-size: 20px;
            color:darkcyan;
            background-color:white;
            border: 2px solid khaki;
            border-radius: 20px;}

        
        .background-image{
            background-image: url("image/blur2.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}