        
        body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

        .flex-container{display: flex;}

        .box{
            width: 430px;
            height: 220px; 
            border: 1px solid #f52e27;
            text-align: center;
            background-color:white;
            border-radius: 10px;
            margin-left: 450px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: #f52e27;font-weight: lighter;font-family: sans-serif;
           font-size: 25px;}

        #text{width: 240px;height: 30px;border-radius: 5px;border: 1px solid #f52e27;}

       .background-image{
            background-image: url("image/correction1.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}