body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

h1{
    
    font-family: sans-serif;
    font-size: 34px;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    margin-left: 550px;}

#arrow{
       font-size: 30px;
       margin-left: 500px;
       color: grey;margin-top: 52px;position:absolute;
      }

.flex-container{display: flex;}

.box{
    width:42%;
    height: 330px;
    border-radius: 10px;
    margin-left: 260px;
    position: absolute;
    margin-top: 70px;}

.item-1{
    border: 1px solid #f52e27;
    text-align: center; 
    flex-direction: column;
    display: inline-block;
    font-size: 25px;
    background-color: white;
    color: #f52e27;
    box-shadow: 7px 7px 7px gray;
    }

h4{font-weight: lighter;}

    
#paris1{text-decoration:line-through;
        color: red;
        margin-left: 15px;
        font-family: sans-serif;
        font-weight: lighter;}

        
hr{
    margin-left: 60px;
    color: gainsboro;}


@media screen and (min-width:200px) and (max-width:400px){

    h1{
    
        font-family: sans-serif;
        font-size: 29px;
        position: absolute;
        text-align: center;
        margin-top: 55px;
        margin-left: 67px;}
    
    #arrow{
           font-size: 28px;
           margin-left: 29px;
           color: grey;margin-top: 52px;position:absolute;
          }
    
    .flex-container{display: flex;}
    
    .box{
        width:83%;
        height: 300px;
        border-radius: 10px;
        margin-left: 20px;
        position: absolute;
        margin-top: 70px;}
    
    .item-1{
        border: 1px solid #f52e27;
        text-align: center; 
        flex-direction: column;
        display: inline-block;
        font-size: 25px;
        background-color: white;
        color: #f52e27;
        box-shadow: 7px 7px 7px gray;
        }
    
    h4{font-weight: lighter;}
    
        
    #paris1{text-decoration:line-through;
            color: red;
            margin-left: 15px;
            font-family: sans-serif;
            font-weight: lighter;}
    
            
    hr{
        margin-left: 40px;
        color: gainsboro;}
    
}

@media screen and (min-width:401px) and (max-width:700px){

    h1{
    
        font-family: sans-serif;
        font-size: 30px;
        position: absolute;
        text-align: center;
        margin-top: 53px;
        margin-left: 110px;}
    
    #arrow{
           font-size: 30px;
           margin-left: 60px;
           color: grey;margin-top: 52px;position:absolute;
          }
    
    .flex-container{display: flex;}
    
    .box{
        width:72%;
        height: 330px;
        border-radius: 10px;
        margin-left: 40px;
        position: absolute;
        margin-top: 70px;}
    
    .item-1{
        border: 1px solid #f52e27;
        text-align: center; 
        flex-direction: column;
        display: inline-block;
        font-size: 25px;
        background-color: white;
        color: #f52e27;
        box-shadow: 7px 7px 7px gray;
        }
    
    h4{font-weight: lighter;}
    
        
    #paris1{text-decoration:line-through;
            color: red;
            margin-left: 15px;
            font-family: sans-serif;
            font-weight: lighter;}
    
            
    hr{
        margin-left: 45px;
        color: gainsboro;}
    
}

@media screen and (min-width:701px) and (max-width:1300px){
    
    h1{
    
        font-family: sans-serif;
        font-size: 31px;
        position: absolute;
        text-align: center;
        margin-top: 55px;
        margin-left: 280px;}
    
    #arrow{
           font-size: 30px;
           margin-left: 230px;
           color: grey;margin-top: 52px;position:absolute;
          }
    
    .flex-container{display: flex;}
    
    .box{
        width:52%;
        height: 330px;
        border-radius: 10px;
        margin-left: 130px;
        position: absolute;
        margin-top: 70px;}
    
    .item-1{
        border: 1px solid #f52e27;
        text-align: center; 
        flex-direction: column;
        display: inline-block;
        font-size: 25px;
        background-color: white;
        color: #f52e27;
        box-shadow: 7px 7px 7px gray;
        }
    
    h4{font-weight: lighter;}
    
        
    #paris1{text-decoration:line-through;
            color: red;
            margin-left: 15px;
            font-family: sans-serif;
            font-weight: lighter;}
    
            
    hr{
        margin-left: 45px;
        color: gainsboro;}
}