        
        body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

        .flex-container{display: flex;}

        .box{
            width: 40%;
            height: 220px; 
            border: 1px solid #f52e27;
            text-align: center;
            background-color:white;
            border-radius: 10px;
            margin-left: 390px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: #f52e27;font-weight: lighter;font-family: sans-serif;
           font-size: 25px;}

        #text{width: 240px;height: 30px;border-radius: 5px;border: 1px solid #f52e27;}

       .background-image{
            background-image: url("./image/5.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}

    @media screen and (min-width:200px) and (max-width:400px){

        .flex-container{display: flex;}

        body{overflow: hidden;}

        .box{
            width: 83%;
            height: 170px; 
            border: 1px solid #f52e27;
            text-align: center;
            background-color:white;
            border-radius: 10px;
            margin-left: 25px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: #f52e27;font-weight: lighter;font-family: sans-serif;
           font-size: 18px;}

        #text{width: 140px;height: 25px;border-radius: 5px;border: 1px solid #f52e27;}

       .background-image{
            background-image: url("./image/8.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}
        
    }

    @media screen and (min-width:401px) and (max-width:700px){

        .flex-container{display: flex;}
        body{overflow: hidden;}

        .box{
            width: 75%;
            height: 180px; 
            border: 1px solid #f52e27;
            text-align: center;
            background-color:white;
            border-radius: 10px;
            margin-left: 50px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: #f52e27;font-weight: lighter;font-family: sans-serif;
           font-size: 20px;}

        #text{width: 180px;height: 30px;border-radius: 5px;border: 1px solid #f52e27;}

       .background-image{
            background-image: url("./image/7.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}
        
    }

    @media screen and (min-width:701px) and (max-width:1300px){

        .flex-container{display: flex;}
        body{overflow: hidden;}

        .box{
            width: 56%;
            height: 220px; 
            border: 1px solid #f52e27;
            text-align: center;
            background-color:white;
            border-radius: 10px;
            margin-left: 160px;
            margin-top: 200px;z-index: 2;
            }

        h4{color: #f52e27;font-weight: lighter;font-family: sans-serif;
           font-size: 25px;}

        #text{width: 240px;height: 30px;border-radius: 5px;border: 1px solid #f52e27;}

       .background-image{
            background-image: url("./image/6.png");
            width: 100%;height: 100%;position: absolute;filter: blur(5px);}
        
    }