
h1{color: aqua;
    background-color: coral;}

@media screen and (min-width:550px) and (max-width:800px)
{
  h1{color: blue;}
      
}

@media screen and (min-width:350px) and (max-width:600px)
{
  h1{color:chartreuse;}    
}

.box{width: 100px;
     height: 100px;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;}

